.wrapper {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	background-color: #fff;
	border-radius: 0.5rem;
	width: 80%;
	height: 80%;
	padding: 1.25rem;
}

.header {
	text-align: center;

	p {
		margin: 0;
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
}

.content {
	display: flex;
	gap: 1.25rem;
	padding: 1.25rem;
}

.avatar {
	width: 330px;
	height: 350px;
	border-radius: 0.5rem;
}

.info {
	display: flex;
	flex-direction: column;
	font-size: 1.25rem;
	line-height: 1.75rem;
	gap: 1.25rem;

	span {
		font-weight: 600;
	}
}
